@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --text-color: #fff;
  --color: #09c498;
  --bg-color: #1c1c1d;
  --first: #fff;
  --second: #000;
  --mob-color: #363636;
  --box-bg: #333;
  --clr-bg: #3e3e3e;
  --place-clr: #afafaf;
}

body {
  background: var(--bg-color);
}

body.dark-mode {
  --text-color: #222;
  --bg-color: #f2f2f2;
  --first: #222;
  --second: #fff;
  --mob-color: #eae6e6;
  --box-bg: #eae6e6;
  --clr-bg: #e5e5e5;
  --place-clr: #6b6b6b;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

header {
  background: var(--bg-color);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  z-index: 1;
}
header nav .logo a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: var(--first);
}
header nav .logo a span {
  color: var(--color);
}
header nav .list-darkmode-menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
header nav .list-darkmode-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-size: 18px;
  list-style: none;
  z-index: 1;
}
header nav .list-darkmode-menu ul li a {
  position: relative;
  text-decoration: none;
  color: var(--first);
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}
.list-darkmode-menu ul li a.active {
  color: var(--color);
}
.list-darkmode-menu ul li a.active::before {
  width: 100%;
}
header nav .list-darkmode-menu ul li a:hover {
  color: var(--color);
}
header nav .list-darkmode-menu ul li a:hover::before {
  width: 100%;
}
header nav .list-darkmode-menu ul li a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2.5px;
  background: var(--color);
  transition: 0.3s ease;
}
header nav .list-darkmode-menu .fa-check {
    display: none!important;
}
header nav .list-darkmode-menu .mode {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header nav .list-darkmode-menu .mode input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
header nav .list-darkmode-menu .mode .fa-sun,
header nav .list-darkmode-menu .mode .fa-moon {
  position: absolute;
  font-size: 24px;
  color: var(--text-color);
  transition: 0.3s ease;
}
header nav .list-darkmode-menu .mode .fa-sun {
  display: none;
}
header nav .list-darkmode-menu .mode input:checked ~ .fa-moon {
  display: none;
}
header nav .list-darkmode-menu .mode input:checked ~ .fa-sun {
  display: block;
  animation: rotate 0.5s ease forwards;
}
header nav .list-darkmode-menu .mode input:not(:checked) ~ .fa-moon {
  display: block;
  animation: rotate 0.5s ease forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
header nav .list-darkmode-menu #menu-toggle {
    appearance: none;
    display: none;
}
header nav .list-darkmode-menu .hamburger {
  position: relative;
  width: 30px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  scale: 0.9;
  display: none;
}
header nav .list-darkmode-menu .hamburger .bar, header nav .list-darkmode-menu .hamburger::after, header nav .list-darkmode-menu .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--first);
  margin: 6px 0;
  transition: 0.4s;
}
header nav .list-darkmode-menu .hamburger.active::before {
  transform: rotate(-45deg) translate(-8px, 5px);
}
header nav .list-darkmode-menu .hamburger.active::after {
  transform: rotate(45deg) translate(-8px, -5px);
}
header nav .list-darkmode-menu .hamburger.active .bar {
  opacity: 0;
}

html {
    scroll-behavior: smooth;
}
.gallery {
    padding: 10px;
    overflow: visible;
}

.portfolio h2 {
    font-size: 4em;
    text-align: center;
    color: var(--first);
    border-bottom: 5px solid var(--color);
    background: var(--bg-color);
    z-index: 1000;
    width: 100%;
    border-radius: 10px;
    margin: 75px 0;
    padding: 30px 0;
}

.portfolio h2 span {
    color: var(--color);
}

.portfolio .portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5em;
    margin: 100px 0 160px 0;
}

.portfolio .portfolio-wrapper .portfolio-box {
    position: relative;
    width: 275px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.portfolio .portfolio-wrapper .portfolio-box img {
    width: 100%;
    border-radius: 15px;
    transition: 0.5s ease;
}

.portfolio .portfolio-wrapper .portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;           
    height: 100%;
    padding: 0 1.5em;
    background: linear-gradient(rgba(0, 0, 0, 0.4), var(--color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio .portfolio-wrapper .portfolio-box:hover .portfolio-info {
    transform: translateY(0);
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info h4 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 5px;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 10px 15px 15px;
    color: #fff;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background: #fff;
    border-radius: 50%;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info a i {
    font-size: 1em;
    color: #000;
}

.gallery h3.kategori-title {
    color: var(--first);
    font-size: 1.8em;
    padding: 75px 0 35px 0;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 27px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1/1;
    transition: transform 0.3s;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    display: block;
}
.gallery-item.hide {
    display: none;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s ease;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.overlay p {
    font-size: 16px;
    opacity: 0.8;
}
#desaingrafis,
#illustrasi,
#fotografi {
    scroll-margin-top: 120px; 
}
#fotografi .gallery-grid {
    margin-bottom: 100px;
}

.detail-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal.active {
    display: flex;
}
.detail-content {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content img.detail-img {
    width: auto;
    height: 450px;;
    margin: 15px auto 0;  
    display: block;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal2 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal2.active {
    display: flex;
}
.detail-content2 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content2 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content2 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content2 img.detail-img2 {
    width: auto;
    height: 475px;;
    margin: 15px auto 0;  
    display: block;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal3 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal3.active {
    display: flex;
}
.detail-content3 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content3 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content3 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content3 img.detail-img3 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal4 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal4.active {
    display: flex;
}
.detail-content4 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content4 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content4 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content4 img.detail-img4 {
    width: auto;
    height: 450px;;
    margin: 15px auto 0;  
    display: block;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal5 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal5.active {
    display: flex;
}
.detail-content5 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content5 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content5 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content5 img.detail-img5 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal6 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal6.active {
    display: flex;
}
.detail-content6 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content6 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content6 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content6 img.detail-img6 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal7 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal7.active {
    display: flex;
}
.detail-content7 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content7 h2 {
    text-align: center;
}
.detail-content7 img.detail-img7 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal13 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal13.active {
    display: flex;
}
.detail-content13 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content13 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content13 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content13 img.detail-img13 {
    width: auto;
    height: 450px;;
    margin: 15px auto 0;  
    display: block;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal14 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal14.active {
    display: flex;
}
.detail-content14 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content14 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content14 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content14 img.detail-img14 {
    width: auto;
    height: 450px;;
    margin: 15px auto 0;  
    display: block;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal15 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal15.active {
    display: flex;
}
.detail-content15 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content15 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content15 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content15 img.detail-img15 {
    width: auto;
    height: 450px;;
    margin: 15px auto 0;  
    display: block;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal16 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal16.active {
    display: flex;
}
.detail-content16 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content16 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content16 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content16 img.detail-img16 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal17 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal17.active {
    display: flex;
}
.detail-content17 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content17 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content17 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content17 img.detail-img17 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal18 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal18.active {
    display: flex;
}
.detail-content18 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content18 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content18 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content18 img.detail-img18 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal19 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal19.active {
    display: flex;
}
.detail-content19 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content19 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content19 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content19 img.detail-img19 {
    width: auto;
    height: 450px;;
    margin: 15px auto 0;  
    display: block;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal20 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal20.active {
    display: flex;
}
.detail-content20 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content20 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content20 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content20 img.detail-img20 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal21 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal21.active {
    display: flex;
}
.detail-content21 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content21 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content21 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content21 img.detail-img21 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal22 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal22.active {
    display: flex;
}
.detail-content22 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content22 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content22 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content22 img.detail-img22 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal23 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal23.active {
    display: flex;
}
.detail-content23 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content23 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content23 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content23 img.detail-img23 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.detail-modal24 {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999;
}
.detail-modal24.active {
    display: flex;
}
.detail-content24 {
    background: var(--bg-color);
    padding: 25px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    color: var(--first);
    animation: fadeIn 0.3s ease;
}
.detail-content24 h2 {
    text-align: center;
    margin-bottom: 22px;
}
.detail-content24 p {
    text-align: justify;
    margin: 3px 0;
}
.detail-content24 img.detail-img24 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.close {
    font-size: 32px;
    cursor: pointer;
    float: right;
}
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

@media screen and (max-width: 1280px) {
  header nav {
    padding: 0 50px;
  }
  .portfolio h2 {
    font-size: 3em;
    margin: 75px 0;
    padding: 30px 100px;
    text-align: center;
  }
  .portfolio .portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 100px 0 30px 0;
}

.gallery h3.kategori-title {
    color: var(--first);
    font-size: 1.8em;
    padding: 55px 0 35px 50px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 50px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1/1;
    transition: transform 0.3s;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    display: block;
}
.gallery-item.hide {
    display: none;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s ease;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.overlay p {
    font-size: 16px;
    opacity: 0.8;
}
#desaingrafis,
#illustrasi,
#fotografi {
    scroll-margin-top: 120px; 
}
#fotografi .gallery-grid {
    margin-bottom: 100px;
}
}

@media screen and (max-width: 1024px) {
  header nav {
    padding: 0 50px;
  }
  .portfolio h2 {
    font-size: 3em;
    margin: 75px 0;
    padding: 30px 100px;
    text-align: center;
  }
  .portfolio .portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 100px 0 30px 0;
}

.gallery h3.kategori-title {
    color: var(--first);
    font-size: 1.8em;
    padding: 55px 0 35px 50px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 50px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1/1;
    transition: transform 0.3s;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    display: block;
}
.gallery-item.hide {
    display: none;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s ease;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.overlay p {
    font-size: 16px;
    opacity: 0.8;
}
#desaingrafis,
#illustrasi,
#fotografi {
    scroll-margin-top: 120px; 
}
#fotografi .gallery-grid {
    margin-bottom: 100px;
}
}

@media screen and (max-width: 992px) {
  header {
    background: var(--mob-color);
    position: sticky;
    top: 0;
    z-index: 9;
  }
  header nav .list-darkmode-menu ul {
    position: fixed;
    top: 89px;
    left: -100%;
    max-width: 60%;
    width: 100%;
    height: 100vh;
    background: var(--mob-color);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 50px;
    gap: 30px;
    transition: 0.3s ease;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 22px;
  }
  header nav .list-darkmode-menu ul.active {
    left: 0%;
  }
  header nav .list-darkmode-menu .hamburger {
    display: block;
  }
  .portfolio h2 {
    font-size: 3em;
    margin: 75px 0;
    padding: 30px 100px;
    text-align: center;
  }
  .portfolio .portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 100px 0 30px 0;
}

.gallery h3.kategori-title {
    color: var(--first);
    font-size: 1.8em;
    padding: 55px 0 35px 50px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 40px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1/1;
    transition: transform 0.3s;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    display: block;
}
.gallery-item.hide {
    display: none;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s ease;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.overlay p {
    font-size: 16px;
    opacity: 0.8;
}
#desaingrafis,
#illustrasi,
#fotografi {
    scroll-margin-top: 120px; 
}
#fotografi .gallery-grid {
    margin-bottom: 100px;
}
}

@media screen and (max-width: 800px) {
  header nav {
    padding: 0 40px;
  }
  header nav .list-darkmode-menu ul {
    padding: 30px 0 0 30px;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 20px;
  }
  .portfolio h2 {
    font-size: 3em;
    margin: 75px 0;
    padding: 30px 100px;
    text-align: center;
  }
  .portfolio .portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 100px 0 30px 0;
}

.gallery h3.kategori-title {
    color: var(--first);
    font-size: 1.8em;
    padding: 55px 0 35px 50px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
    padding: 0 50px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 1/1;
    transition: transform 0.3s;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    display: block;
}
.gallery-item.hide {
    display: none;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s ease;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.overlay p {
    font-size: 16px;
    opacity: 0.8;
}
#desaingrafis,
#illustrasi,
#fotografi {
    scroll-margin-top: 120px; 
}
#fotografi .gallery-grid {
    margin-bottom: 100px;
}

}