@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --text-color: #fff;
  --color: #09c498;
  --bg-color: #1c1c1d;
  --first: #fff;
  --second: #000;
  --mob-color: #363636;
  --box-bg: #333;
  --clr-bg: #3e3e3e;
  --place-clr: #afafaf;
}

body {
  background: var(--bg-color);
}

body.dark-mode {
  --text-color: #222;
  --bg-color: #f2f2f2;
  --first: #222;
  --second: #fff;
  --mob-color: #eae6e6;
  --box-bg: #eae6e6;
  --clr-bg: #e5e5e5;
  --place-clr: #6b6b6b;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

header {
  background: var(--bg-color);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nama {
  z-index: 1;
}
header nav .nama a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: var(--first);
}
header nav .nama a span {
  color: var(--color);
}
header nav .list-darkmode-menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
header nav .list-darkmode-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-size: 18px;
  list-style: none;
  z-index: 1;
}
header nav .list-darkmode-menu ul li a {
  position: relative;
  text-decoration: none;
  color: var(--first);
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}
.list-darkmode-menu ul li a.active {
  color: var(--color);
}
.list-darkmode-menu ul li a.active::before {
  width: 100%;
}
header nav .list-darkmode-menu ul li a:hover {
  color: var(--color);
}
header nav .list-darkmode-menu ul li a:hover::before {
  width: 100%;
}
header nav .list-darkmode-menu ul li a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2.5px;
  background: var(--color);
  transition: 0.3s ease;
}
header nav .list-darkmode-menu .fa-check {
    display: none!important;
}
header nav .list-darkmode-menu .mode {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header nav .list-darkmode-menu .mode input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
header nav .list-darkmode-menu .mode .fa-sun,
header nav .list-darkmode-menu .mode .fa-moon {
  position: absolute;
  font-size: 24px;
  color: var(--text-color);
  transition: 0.3s ease;
}
header nav .list-darkmode-menu .mode .fa-sun {
  display: none;
}
header nav .list-darkmode-menu .mode input:checked ~ .fa-moon {
  display: none;
}
header nav .list-darkmode-menu .mode input:checked ~ .fa-sun {
  display: block;
  animation: rotate 0.5s ease forwards;
}
header nav .list-darkmode-menu .mode input:not(:checked) ~ .fa-moon {
  display: block;
  animation: rotate 0.5s ease forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
header nav .list-darkmode-menu #menu-toggle {
    appearance: none;
    display: none;
}
header nav .list-darkmode-menu .hamburger {
  position: relative;
  width: 30px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  scale: 0.9;
  display: none;
}
header nav .list-darkmode-menu .hamburger .bar, header nav .list-darkmode-menu .hamburger::after, header nav .list-darkmode-menu .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--first);
  margin: 6px 0;
  transition: 0.4s;
}
header nav .list-darkmode-menu .hamburger.active::before {
  transform: rotate(-45deg) translate(-8px, 5px);
}
header nav .list-darkmode-menu .hamburger.active::after {
  transform: rotate(45deg) translate(-8px, -5px);
}
header nav .list-darkmode-menu .hamburger.active .bar {
  opacity: 0;
}

.home {
  background: var(--bg-color);
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 50px 0;
}
.home .home-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .home-info .left {
  flex: 1;
}
.home .home-info .left h1 {
  font-size: 3.2em;
  color: var(--first);
  padding: 60px 0 0 0;
}
.home .home-info .left h3 {
  color: var(--first);
  font-size: 2.5em;
  font-weight: bold;
  min-width: 280px;
  margin: 10px 0;
}
.home .home-info .left h3 span {
  color: var(--color);
}
.home .home-info .left h4 {
  color: var(--first);
  font-size: 2em;
  margin: 10px 0;
}
.home .home-info .left .social {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
}
.home .home-info .left .social a {
  text-decoration: none;
  background: transparent;
  color: var(--color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  border: 2px solid var(--color);
}
.home .home-info .left .social a i {
  font-size: 20px;
}
.home .home-info .left .social a:hover {
  color: #fff;
  background: var(--color);
  transform: translateY(-7px);
}
.home .home-info .left .btn {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 25px 0;
}
.home .home-info .left .btn-link {
  font-size: 15px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  color: var(--color);
  background: transparent;
  border: 2px solid var(--color);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in;
  text-decoration: none;
}
.home .home-info .left .btn .btn-link:hover {
  color: #fff;
  background: var(--color);
  transform: translateY(-7px);
}
.home .home-info .right {
  flex: 1;
}
.home .home-info .right .profile {
  text-align: right;
}
.home .home-info .right .profile img {
  width: auto;
  height: 450px;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 5%;
  border: 3px solid var(--color);
  box-shadow: 0 0 40px var(--color);
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.home .home-info .right .profile img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 80px var(--color);
}

.logo .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 95px 0 100px 0;
}
.logo .logo-left .lleft,
.logo .logo-center .lcenter,
.logo .logo-center2 .lcenter2, 
.logo .logo-center3 .lcenter3, 
.logo .logo-right .lright,
.logo .logo-right2 .lright2, 
.logo .logo-right3 .lright3 {
    width: 100%;
}

.logo .logo-left .lleft img {
    max-width: 70px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: top;
     object-position: top;
    border-radius: 22%;
    border: 3px solid var(--color);
    box-shadow: 0 0 30px var(--color);
    cursor: pointer;
    transition: 0.3s ease;
    display: block;
}
.logo .logo-left .lleft img:hover {
    color: #fff;
    background: var(--color);
    transform: translateY(-10px);
    box-shadow: 0 0 80px var(--color);
}
.logo .logo-center .lcenter img {
    max-width: 70px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: top;
     object-position: top;
    border-radius: 22%;
    border: 3px solid var(--color);
    box-shadow: 0 0 30px var(--color);
    cursor: pointer;
    transition: 0.3s ease;
    display: block;
}
.logo .logo-center .lcenter img:hover {
    color: #fff;
    background: var(--color);
    transform: translateY(-10px);
    box-shadow: 0 0 80px var(--color);
}
.logo .logo-center2 .lcenter2 img {
    max-width: 70px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: top;
     object-position: top;
    border-radius: 22%;
    border: 3px solid var(--color);
    box-shadow: 0 0 30px var(--color);
    cursor: pointer;
    transition: 0.3s ease;
    display: block;
}
.logo .logo-center2 .lcenter2 img:hover {
    color: #fff;
    background: var(--color);
    transform: translateY(-10px);
    box-shadow: 0 0 80px var(--color);
}
.logo .logo-center3 .lcenter3 img {
    max-width: 70px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: top;
     object-position: top;
    border-radius: 22%;
    border: 3px solid var(--color);
    box-shadow: 0 0 30px var(--color);
    cursor: pointer;
    transition: 0.3s ease;
    display: block;
}
.logo .logo-center3 .lcenter3 img:hover {
    color: #fff;
    background: var(--color);
    transform: translateY(-10px);
    box-shadow: 0 0 80px var(--color);
}
.logo .logo-right .lright img {
    max-width: 70px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: top;
     object-position: top;
    border-radius: 50%;
    border: 3px solid var(--color);
    box-shadow: 0 0 30px var(--color);
    cursor: pointer;
    transition: 0.3s ease;
    display: block;
}
.logo .logo-right .lright img:hover {
    color: #fff;
    background: var(--color);
    transform: translateY(-10px);
    box-shadow: 0 0 80px var(--color);
}
.logo .logo-right2 .lright2 img {
    max-width: 70px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: top;
     object-position: top;
    border-radius: 50%;
    border: 3px solid var(--color);
    box-shadow: 0 0 30px var(--color);
    cursor: pointer;
    transition: 0.3s ease;
    display: block;
}
.logo .logo-right2 .lright2 img:hover {
    color: #fff;
    background: var(--color);
    transform: translateY(-10px);
    box-shadow: 0 0 80px var(--color);
}
.logo .logo-right3 .lright3 img {
    max-width: 70px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
     object-fit: cover;
    -o-object-position: top;
     object-position: top;
    border-radius: 20%;
    border: 3px solid var(--color);
    box-shadow: 0 0 30px var(--color);
    cursor: pointer;
    transition: 0.3s ease;
    display: block;
}
.logo .logo-right3 .lright3 img:hover {
    color: #fff;
    background: var(--color);
    transform: translateY(-10px);
    box-shadow: 0 0 80px var(--color);
}

.portfolio {
    margin-bottom: 100px;
}

.portfolio h2 {
    font-size: 3em;
    text-align: center;
    color: var(--first);
    margin-bottom: 1em;
}

.portfolio h2 span {
    color: var(--color);
}

.portfolio .portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5em;
}

.portfolio .portfolio-wrapper .portfolio-box {
    position: relative;
    width: 375px;
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.portfolio .portfolio-wrapper .portfolio-box img {
    width: 100%;
    border-radius: 15px;
    transition: 0.5s ease;
}

.portfolio .portfolio-wrapper .portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;           
    height: 100%;
    padding: 0 1.5em;
    background: linear-gradient(rgba(0, 0, 0, 0.4), var(--color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio .portfolio-wrapper .portfolio-box:hover .portfolio-info {
    transform: translateY(0);
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info h4 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 5px;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 10px 15px 15px;
    color: #fff;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background: #fff;
    border-radius: 50%;
}

.portfolio .portfolio-wrapper .portfolio-box .portfolio-info a i {
    font-size: 1em;
    color: #000;
}

@media screen and (max-width: 1280px) {
  header nav {
    padding: 0 70px;
  }
  .home {
    padding: 50px 75px;
  }
  .home .home-info .left h1 {
    font-size: 2.8em;
  }
  .home .home-info .left h4 {
    font-size: 1.7em;
  }
  .home .home-info .right .profile img {
    width: 300px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1024px) {
  header nav {
    padding: 0 70px;
  }
  .home {
    padding: 50px 75px 100px 75px;
  }
  .home .home-info .left h1 {
    font-size: 2em;
  }
  .hime .home-info .left h3 {
    font-size: 2.3em;
  }
  .home .home-info .left h4 {
    font-size: 1.3em;
  }
  .logo .container {
    gap: 50px;
    padding: 70px 0 100px 0;
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  header {
    background: var(--mob-color);
    position: sticky;
    top: 0;
    z-index: 9;
  }
  header nav .list-darkmode-menu ul {
    position: fixed;
    top: 89px;
    left: -100%;
    max-width: 60%;
    width: 100%;
    height: 100vh;
    background: var(--mob-color);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 50px;
    gap: 30px;
    transition: 0.3s ease;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 22px;
  }
  header nav .list-darkmode-menu ul.active {
    left: 0%;
  }
  header nav .list-darkmode-menu .hamburger {
    display: block;
  }
  .home {
    position: relative;
    padding: 50px 0;
    height: 100%;
  }
  .home .home-info {
    flex-direction: column-reverse;
  }
  .home .home-info .left {
    width: 800px;
    padding: 35px;
  }
  .home .home-info .left .h1 {
    font-size: 3em;
  }
  .home .home-info .left h4 {
    font-size: 2em;
  }
  .home .home-info .left .social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0;
  }
  .home .home-info .right .profile {
    margin-top: 25px;
    justify-content: center;
  }
  .home .home-info .right .profile img {
    width: 275px;
    height: 375px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .home .home-info .right .profile img:hover {
    box-shadow: 0 0 60px var(--color);
  }
  .logo .container {
    gap: 45px;
    padding: 70px 0 100px 0;
    width: 85%;
  }
}
@media screen and (max-width: 800px) {
  header {
    background: var(--mob-color);
    position: sticky;
    top: 0;
    z-index: 9;
  }
  header nav .list-darkmode-menu ul {
    position: fixed;
    top: 89px;
    left: -100%;
    max-width: 60%;
    width: 100%;
    height: 100vh;
    background: var(--mob-color);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px 50px;
    gap: 30px;
    transition: 0.3s ease;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 22px;
  }
  header nav .list-darkmode-menu ul.active {
    left: 0%;
  }
  header nav .list-darkmode-menu .hamburger {
    display: block;
  }
  .home {
    position: relative;
    padding: 50px 50px;
    height: 100%;
  }
  .home .home-info {
    flex-direction: column-reverse;
  }
  .home .home-info .left {
    padding: 35px 100px;
  }
  .home .home-info .left .h1 {
    font-size: 5em;
  }
  .home .home-info .left h4 {
    font-size: 1.8em;
  }
  .home .home-info .left .social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0;
  }
  .home .home-info .right .profile {
    margin-top: 25px;
    justify-content: center;
  }
  .home .home-info .right .profile img {
    width: 275px;
    height: 375px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .home .home-info .right .profile img:hover {
    box-shadow: 0 0 60px var(--color);
  }
  .logo .container {
    gap: 30px;
    padding: 30px 0 100px 0;
    width: 80%;
  }
  .portfolio .portfolio-wrapper .portfolio-box {
    width: 300px;
    height: 300px;
    gap: 5px;
  }
}
@media screen and (max-width: 767px) {
  header nav {
    padding: 0 30px;
  }
  header nav .list-darkmode-menu ul {
    padding: 30px 0 0 30px;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 20px;
  }
  .home {
    padding: 40px 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .home .home-info .left {
    padding: 40px 100px;
  }
  .home .home-info .left h1 {
    font-size: 3em;
  }
  .home .home-info .left h3 {
    font-size: 1.8em;
  }
  .home .home-info .left h4 {
    font-size: 1.5em;
  }
  .home .home-info .right .profile {
    justify-content: center;
  }
  .home .home-info .right .profile img {
    width: 250px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 567px) {
  header nav .logo a {
    font-size: 28px;
  }
  .home .home-info .left h1 {
    font-size: 2.2em;
  }
  .home .home-info .left h3 {
    font-size: 1.6em;
  }
  .home .home-info .left h4 {
    font-size: 1.3em;
  }
  .home .home-info .right .profile {
    justify-content: center;
  }
  .home .home-info .right .profile img {
    width: 200px;
    height: 275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logo .container {
    gap: 30px;
    width: 350px;
    height: auto;
  }
}